<!DOCTYPE HTML>
<html class="no-js" lang="es">
<head>
<meta charset="utf-8">
<title>Eras Hotel</title>
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="@YetsuPe">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
<meta name="format-detection" content="telephone=no">
<!-- CSS
  ================================================== -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="plugins/sequence/css/sequence.html" rel="stylesheet" type="text/css">
<link href="plugins/prettyphoto/css/prettyPhoto.css" rel="stylesheet" type="text/css">
<link href="plugins/owl-carousel/css/owl.carousel.css" rel="stylesheet" type="text/css">
<link href="plugins/owl-carousel/css/owl.theme.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="plugins/rs-plugin/css/settings.css" media="screen" />
<!--[if lte IE 8]><link rel="stylesheet" type="text/css" href="css/ie8.css" media="screen" /><![endif]-->
<!-- Color Style -->
<link class="alt" href="colors/red.css" rel="stylesheet" type="text/css">
<!-- SCRIPTS
  ================================================== -->
<script src="js/modernizr.js"></script><!-- Modernizr -->
 <%= csrf_meta_tags %>
</head>
<body>
<!--[if lt IE 7]>
	<p class="chromeframe">Está usando una navegador desactualizado, le recomendamos:<a href="http://browsehappy.com/">Actualizar su navegador</a> o <a href="http://www.google.com/chromeframe/?redirect=true">instalr Google Chrome Frame</a> para mejorar su experiencia en nuestra web.</p>
<![endif]--> 
<!-- Start Body Container -->
<div class="body footer-style2"> 
  <!-- Start Header -->
  <div class="topbar hidden-sm hidden-xs">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <nav class="secondary-menu">
            <ul class="pull-left">
              <li><a href="https://twitter.com/ErasHotel"><i class="fa fa-lg fa-twitter"></i></a></li>
              <li><a href="https://www.facebook.com/pages/Eras-Hotel/262966880545516"><i class="fa fa-lg fa-facebook"></i></a></li>
              <li><a href="http://www.pinterest.com/erashotel/"><i class="fa fa-lg fa-pinterest"></i></a></li>
              <li><a href="https://foursquare.com/v/eras-hotel/4e0d2eb51838f62321b8eae8"><i class="fa fa-lg fa-foursquare"></i></a></li>
            </ul>
          </nav>
        </div>
        <div class="col-md-6">
          <nav class="secondary-menu">
            <ul class="pull-right">
              <li><a href="#">Promociones</a></li>
              <li><a href="#">Preguntas frecuentes</a></li>
              <li class="dropdown pull-right"><a data-toggle="dropdown"><img src="images/flag-pe.png" alt="us"> Español <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="dropdown"><a href="#"><img src="images/flag-icon-us.png" alt="us"> English US</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <header class="site-header">
    <div class="bck-dark">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <a href="index.html"> 
              <img src="images/Eras-Hotel.png" alt="Site Logo" class="img-responsive img-logo"> 
            </a> 
          </div>
          <div class="col-md-8">
            <nav class="main-menu">
              <ul class="sf-menu" id="main-menu">
                <li><a href="index-2.html">HOME</a>
                </li>
                <li><a href="shop.html">HABITACIONES</a>
                </li>
                <li><a href="nosotros.html"> NOSOTROS </a>
                </li>
                <li>
                  <a href="galeria.html"> GALERIA </a>
                </li>
                <li><a href="tedhis.html"> TEDHI'S</a>
                </li>
                <li><a href="contactanos.html">CONTACTANOS</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-md-2">
            <a href="tel:+5174236333" class="btn btn-primary btn-tel row">
            <span class="fa fa-phone fix-phone"></span>
            <span>(+51) (74) 236333</span> </a>
          </div>
          <div class="col-md-12 nav-social">
            <ul>
              <li><a href="#"><i class="fa fa-lg fa-twitter"></i></a></li>
              <li><a href="https://www.facebook.com/pages/Eras-Hotel/262966880545516"><i class="fa fa-lg fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-lg fa-pinterest"></i></a></li>
              <li><a href="#"><i class="fa fa-lg fa-skype"></i></a></li>
              <li><a href="#"><i class="fa fa-lg fa-foursquare"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- End Header --> 
  <!-- Start Content -->
  <div class="main" role="main">
    <div id="content" class="content full">
    	<%= yield %>
    </div>
  </div>
  <!-- Start Footer -->
  <footer class="site-footer-top" id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <section class="footer-widget" id="contact">
            <h4>Contactnos</h4>
            <address class="ico">
            <p><i class="fa fa-map-marker"></i> <span><strong>Dirección:</strong> Vicente de la vega 851,<br>
              Chiclayo,  Perú</span></p>
            <p><i class="fa fa-phone"></i> <span><strong>Telefono:</strong> (+51) (74) 236333 </span></p>
            <p><i class="fa fa-envelope"></i> <span><strong>Email:</strong> info@erashotel.com.pe</span></p>
            </address>
          </section>
        </div>
        <div class="col-md-3 col-sm-6">

        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->
  <footer class="site-footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>&copy; 2014 Eras Hotel</p>
        </div>
        <div class="col-md-6">
          <ul class="social-icons-bar pull-right">
            <li><a href="https://twitter.com/ErasHotel"><i class="fa fa-lg fa-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/pages/Eras-Hotel/262966880545516"><i class="fa fa-lg fa-facebook"></i></a></li>
            <li><a href="http://www.pinterest.com/erashotel/"><i class="fa fa-lg fa-pinterest"></i></a></li>
            <li><a href="https://foursquare.com/v/eras-hotel/4e0d2eb51838f62321b8eae8"><i class="fa fa-lg fa-foursquare"></i></a></li> 
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- End footer --> 
  <a id="back-to-top"><i class="fa fa-angle-double-up"></i></a> </div>
<!-- End Body Container --> 
<script src="http://code.jquery.com/jquery-latest.min.js"></script> <!-- Jquery Library Call --> 
<script src="plugins/prettyphoto/js/prettyphoto.js"></script> 
<script src="plugins/owl-carousel/js/owl.carousel.min.js"></script> 
<script src="plugins/page-scroller/jquery.pagescroller.js"></script> 
<script src="js/helper-plugins.js"></script> <!-- Plugins --> 
<script src="js/bootstrap.js"></script> <!-- UI --> 
<script src="js/init.js"></script> <!-- All Scripts --> 
<script src="plugins/rs-plugin/js/jquery.themepunch.plugins.min.js"></script> 
<script src="plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script> 
<script src="js/revolution-slider-init.js"></script> <!-- Revolutions Slider Intialization --> 
<!-- Preloader --> 
<script type="text/javascript">
	//<![CDATA[
		$(window).load(function() { // makes sure the whole site is loaded
			$("#status").fadeOut(); // will first fade out the loading animation
			$("#preloader").delay(350).fadeOut("slow"); // will fade out the white DIV that covers the website.
		});
	//]]>
</script> 
<!-- End Js -->
</body>
</html>